
.booking-info {
  max-width: 1200px;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 40% 60%;
  background: #fffcfc;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  font-family:Arial, sans-serif;
  gap: 15px;
}

.booking-info img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-column: 1 / -1;
  
}

.booking-info h1 {
  grid-column: 2;
  font-size: 42px;
  font-weight: 700px;
  color: #3f1b1b;
  margin: 30px 40px 25px;
  
}

/* FORM ELEMENTS */
.booking-info .form,
.booking-info .form-group {
  display: flex;
  flex-direction: column;
  margin: 0 40px 15px;
}

.booking-info label {
  font-size: 20px;
  font-weight: 600px;
  margin-bottom: 6px;
  color: #222;
}

/* INPUTS */
.booking-info input,
.booking-info textarea {
  padding: 12px 14px;
  border-radius: 6px;
  border: 1px solid #ffa726;
  background: #fde7c8;
  font-size: 15px;
}

/* MESSAGE */
.booking-info textarea {
  min-height: 130px;
  resize: none;
}

/* SMALL TEXT */
.booking-info small {
  font-size: 15px;
  margin-top: 6px;
  color: #555;
}

/* TOTAL PRICE */
.total-price {
  margin: 10px 40px;
}

.total-price p {
  font-weight: bold;
  font-size: 16px;
  
}

/* BUTTON */
.booking-info button {
  margin: 25px 40px 35px;
  padding: 14px;
  background: #ffa000;
  color: #000;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  grid-column: 1/-1;
}

.booking-info button:hover {
  background: #0c0c0c;
  color:#ffa000 ;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .booking-info {
    grid-template-columns: 1fr;
  }

  .booking-info img {
    height: 260px;
  }

  .booking-info h1,
  .booking-info .form,
  .booking-info .form-group,
  .booking-info button {
    margin-left: 20px;
    margin-right: 20px;
  }
}
